<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartRestaurant"
        tools:targetApi="31">
        <activity
            android:name=".Waiter.PayDisplay"
            android:exported="false" />
        <activity
            android:name=".Waiter.PayActivity"
            android:exported="false" />
        <activity
            android:name=".Barman.BarmanDisplay"
            android:exported="false" />
        <activity
            android:name=".Waiter.WaiterDisplay"
            android:exported="false" />
        <activity
            android:name=".Cook.CookDisplay"
            android:exported="false" />
        <activity
            android:name=".Guest.Basket"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Guest.Primer"
            android:exported="false" />
        <activity
            android:name=".Guest.SettingsGuest"
            android:exported="false" />
        <activity
            android:name=".ZalobiBook.AddZalobiBook"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Guest.GuestAddZalobiBook"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.Menu.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.Reserved.ReservedActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ZalobiBook.ZalobiBookActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Guest.GuestZalobiBook"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.Message.Message"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.WriteBookActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Barman.WriteBookBarman"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cook.WriteBookCook"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Waiter.WriteBookWaiter"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Guest.Meny"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartRestaurant.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Waiter.MenuWaiterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Waiter.SetingsWaiterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cook.SetingsCookActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Barman.SetingsBarmanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.Menu.AddFoodActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.Reserved.AddReservedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.SetingsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.BiznesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Guest.GuestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Barman.BarmanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cook.CookActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Waiter.WaiterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Entry.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Entry.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Entry.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>